# Neon PostgreSQL (pooler URL for runtime)
DATABASE_URL="postgresql://user:password@host-pooler.neon.tech/dbname?sslmode=require"

# Neon PostgreSQL (direct URL for Prisma migrations)
DIRECT_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="generate-a-32-char-secret"
NEXTAUTH_URL="http://localhost:3000"
